.controllerWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: #1a1a1a;
  border-top: 1px solid #333;
  font-size: 0.8rem;
}

.seekbarWrapper {
  width: 100%;
  height: 8px;
  background: transparent;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.4rem;
}

.seekbarBackground {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
  border-radius: 4px;
  overflow: hidden;
}

.seekbarBuffered {
  position: absolute;
  height: 100%;
  background-color: #666;
  z-index: 1;
}

.seekbarPlayed {
  position: absolute;
  height: 100%;
  background-color: #9f8475;
  z-index: 2;
}

.controlsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controlsLeft {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.controlsLeft button {
  background: none;
  border: none;
  color: #ccc;
  font-size: 0.9rem;
  padding: 0.2rem;
  cursor: pointer;
  transition: color 0.2s;
}
.controlsLeft button:hover {
  color: #fff;
}

.volumeControl {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.2rem;
}

.volumeButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.volumeSliderWrapper {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  padding: 0.4rem;
  border-radius: 6px;
  z-index: 10;
  width: 5.2rem; 
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volumeSliderRotated {
  transform: rotate(-90deg);
  width: 8rem; 
}

.volumeSlider {
  width: 100%;
  height: 1rem;
  cursor: pointer;
  appearance: none;
  background: #999;
  border-radius: 4px;
}

.timeDisplay {
  font-size: 0.7rem;
  color: #aaa;
  padding-right: 0.5rem;
}
